// Typography

$font-sans: 'IBM Plex Sans', 'Helvetica', 'Arial', sans-serif;
$font-path: 'fonts';

// Color

$color-light:     #9bd4cf;
$color-bright:    #00a398;
$color-medium:    #074b69;
$color-dark:      #002d3f;
$color-black:     #000000;
